<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DK E+I - Enrollments</title>
    <div th:replace="fragments/header::header-style">header-style</div>
</head>
<body>
<div th:replace="fragments/header::header">header</div>
<div class="container">
    <h3>청년 - 삭제</h3>
    <hr>
    <div th:if="${deletedNames.size() > 0}">
        <p>다음의 청년 상세 정보를 삭제하였습니다:</p>
        <ul>
            <li th:each="deletedName : ${deletedNames}" th:text="${deletedName}">deletedName</li>
        </ul>
    </div>
    <span th:if="${errorMsg != null}" th:text="${errorMsg}"></span>
</div>
<div th:replace="fragments/footer::footer">footer</div>
</body>
</html>
