<!DOCTYPE html>
<html lang="kr" data-layout-decorate="~{fragments/layout}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Home</title>
    <script>
        function onlyNumber() {
            if ((event.keyCode < 48) || (event.keyCode > 57))
                event.returnValue = false;
        }

        function validateCellPhone() {
            var cellPhoneLength2 = document.getElementById("cellPhone2").value.length;
            if (cellPhoneLength2 < 3 || cellPhoneLength2 > 4) {
                window.alert("핸드폰 가운데 번호는 3자리 또는 4자리로 입력하세요");
                return false;
            }

            var cellPhoneLength3 = document.getElementById("cellPhone3").value.length;
            if (cellPhoneLength3 != 4) {
                window.alert("핸드폰 마지막 번호는 4자리로 입력하세요");
                return false;
            }

            document.getElementById('youthInsertForm').submit();
        }
    </script>
</head>
<body>
<!-- page content -->
<div class="right_col" role="main" data-layout-fragment="content">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>청년 정보 상세</h3>
            </div>
            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                          <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>청년 정보 상세</h2>
                        <!--<ul class="nav navbar-right panel_toolbox">-->
                        <!--<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>-->
                        <!--</li>-->
                        <!--<li class="dropdown">-->
                        <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"-->
                        <!--aria-expanded="false"><i class="fa fa-wrench"></i></a>-->
                        <!--<ul class="dropdown-menu" role="menu">-->
                        <!--<li><a href="#">Settings 1</a>-->
                        <!--</li>-->
                        <!--<li><a href="#">Settings 2</a>-->
                        <!--</li>-->
                        <!--</ul>-->
                        <!--</li>-->
                        <!--<li><a class="close-link"><i class="fa fa-close"></i></a>-->
                        <!--</li>-->
                        <!--</ul>-->
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content" th:if="${found}">
                        <div class="form-horizontal" th:object="${youth}">
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">청년이름
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <input class="form-control col-md-7 col-xs-12" type="text" name="youthName" th:value="*{youthName}" readonly>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">청년또래
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <select class="form-control" name="youthPeer" disabled>
                                            <option th:text="*{youthPeer}">peer</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">성별
                                    </label>
                                    <div class="col-md- col-sm-6 col-xs-12">
                                        <label class="radio-inline">
                                            <input type="radio" name="gender" value="M"
                                                   th:checked="*{gender != null && gender.toString().equals('M')}" checked readonly>남
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="gender" value="F"
                                                   th:checked="*{gender != null && gender.toString().equals('F')}" readonly>여
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">핸드폰 번호
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <select class="form-control" name="cellPhone1" style="width: max-content; display: inline" disabled>
                                            <option value="010" th:selected="${youth.getCellPhone(1).equals('010')}">010</option>
                                            <option value="011" th:selected="${youth.getCellPhone(1).equals('011')}">011</option>
                                            <option value="016" th:selected="${youth.getCellPhone(1).equals('016')}">016</option>
                                            <option value="017" th:selected="${youth.getCellPhone(1).equals('017')}">017</option>
                                            <option value="019" th:selected="${youth.getCellPhone(1).equals('019')}">019</option>
                                        </select>
                                        -
                                        <input class="form-control" type="text" id="cellPhone2" name="cellPhone2" size="4"
                                               style="width: max-content; display: inline" onkeypress="onlyNumber();" th:value="${youth.getCellPhone(2)}" readonly/>
                                        -
                                        <input  class="form-control"type="text" id="cellPhone3" name="cellPhone3" size="4"
                                                style="width: max-content; display: inline" onkeypress="onlyNumber();" th:value="${youth.getCellPhone(3)}" readonly/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">생년월일
                                    </label>
                                    <div class="col-md-3 col-sm-10 col-xs-12">
                                        <div class='input-group date' id='myDatepicker'>
                                            <input type='text' class="form-control" name="birthDate" th:value="*{birthDate}" readonly />
                                            <span class="input-group-addon">
                                               <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">자택주소
                                    </label>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <input class="form-control col-md-7 col-xs-12" type="text" required="required"
                                               name="homeAddress" th:value="*{homeAddress}" readonly>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">모태신앙여부
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <label class="radio-inline">
                                            <input type="radio" name="isBornChr" value="1" th:checked="*{isBornChr == 1}" readonly>예
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="isBornChr" value="0" th:checked="*{isBornChr == 0}" readonly>아니오
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">자진등록여부
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <label class="radio-inline">
                                            <input type="radio" name="isSelfIn" value="1" th:checked="*{isSelfIn == 1}" readonly>예
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="isSelfIn" value="0" th:checked="*{isSelfIn == 0}" readonly>아니오
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">인도자 성명
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <input type="text" required="required" class="form-control col-md-7 col-xs-12" name="guideName" th:value="*{guideName}" readonly>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">직업상태
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <select class="form-control" name="occType" disabled>
                                            <option  name="occTypeOption" th:if="*{occType != null}" th:text="*{occType.occType}">
                                                occType
                                            </option>
                                            <option th:unless="*{occType != null}">
                                                (정보 없음)
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">직업
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <select class="form-control" name="occ" disabled>
                                            <option th:if="*{occ!= null}" th:text="*{occ.occName}">
                                            </option>
                                            <option th:unless="*{occ!= null}">
                                                (정보 없음)
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">직군
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <select class="form-control" name="bizType" disabled>
                                            <option th:if="*{bizType != null}" th:text="*{bizType.bizType}">
                                            </option>
                                            <option th:unless="*{bizType != null}">
                                                (정보 없음)
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">신급
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <select class="form-control" name="religionType" disabled>
                                            <option th:if="*{religionType!= null}" th:text="*{religionType.religionType}">
                                            </option>
                                            <option th:unless="*{religionType!= null}">
                                                (정보 없음)
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">교회 등록일자
                                    </label>
                                    <div class="col-md-3 col-sm-10 col-xs-12">
                                        <div class='input-group date' id='myDatepicker2'>
                                            <input type='text' class="form-control" name="churchRegDate" th:value="*{churchRegDate}" readonly/>
                                            <span class="input-group-addon">
                                               <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">출석상태
                                    </label>
                                    <div class="col-md-10 col-sm-10 col-xs-12">
                                        <label class="radio-inline">
                                            <input type="radio" name="isAttending" value="1" th:checked="*{isAttending == 1}" readonly>예
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="isAttending" value="0" th:checked="*{isAttending == 0}" readonly>아니오
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">등록여부
                                    </label>
                                    <div class="col-md-10 col-sm-10 col-xs-12">
                                        <label class="radio-inline">
                                            <input type="radio" name="isRegistered" value="1" th:checked="*{isRegistered == 1}" readonly>예
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="isRegistered" value="0" th:checked="*{isRegistered == 0}" readonly>아니오
                                        </label>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <form method="post" action="youthModify">
                                        <button class="btn btn-success" type="submit" name="modifySubmit">
                                            수정
                                        </button>
                                        <input type="hidden" name="youthId" th:value="${youth.youthId}">
                                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                                    </form>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
</body>
</html>
