<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DK E+I - Enrollments</title>
    <div th:replace="fragments/header::header-style">header-style</div>
</head>
<body>
<div th:replace="fragments/header::header">header</div>
<div class="container">
    <h3>청년 소속 정보 - 파일 업로드</h3>
    <hr>
    <div th:each="fileName : ${fileNames}">
        <span th:text="${fileName}">fileName</span> 처리 성공.<br>
        <br>
        입력 성공 청년 이름 목록:
        <span th:if="${succeedNamesForFile.containsKey(fileName)}" th:text="${succeedNamesForFile.get(fileName)}">succeedNamesForFile</span><br>
        <span th:unless="${succeedNamesForFile.containsKey(fileName)}">(해당 사항 없음)</span><br>
        <br>
        입력 실패 청년 이름 목록:
        <span th:if="${failedNamesForFile.containsKey(fileName)}" th:text="${failedNamesForFile.get(fileName)}">failedNamesForFile</span><br>
        <span th:unless="${failedNamesForFile.containsKey(fileName)}">(해당 사항 없음)</span><br>
        이미 존재하는 청년 이름 목록:
        <span th:if="${duplicatedNamesForFile.containsKey(fileName)}" th:text="${duplicatedNamesForFile.get(fileName)}">duplicatedNamesForFile</span><br>
        <span th:unless="${duplicatedNamesForFile.containsKey(fileName)}">(해당 사항 없음)</span><br>
        <hr>
    </div>
</div>
</div>
<div th:replace="fragments/footer::footer">footer</div>
</body>
</html>
