<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <div th:fragment="header-style">
        <link type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" >
        <!-- MetisMenu CSS -->
        <link type="text/css" href="/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
        <!-- DataTables CSS -->
        <link type="text/css" href="/vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">
        <!-- DataTables Responsive CSS -->
        <link type="text/css" href="/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">
        <!-- Custom CSS -->
        <link type="text/css" href="/dist/css/sb-admin-2.css" rel="stylesheet">
        <!-- Custom Fonts -->
        <link type="text/css" href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    </div>
</head>
<body>
<div th:fragment="header">
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" style="font-size: xx-large">DK E+I</a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="font-size: large">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <!--<li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>-->
                    <!--</li>-->
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i>사용자 설정</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="/login?logout=true"><i class="fa fa-sign-out fa-fw"></i>로그 아웃</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>